.mainBannerImgContainerSecondPage{
    margin-top: 91px;
    height: 100%;
    width: 100%;
    display: block;
}

.mainBannerImgSecondPage {
    height: 100% ;
    width: 100%;
}

.middleTxtSecondPage {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleTxtContainerSecondPage {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1E1E1E;
    border-radius: 20px;
}

.middleTxtTitleSecondPage {
    font-family: 'Russo One';
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    padding-right: 25%;
    color: #FFFFFF;
    width: fit-content;
    margin-left: 6%;
}

.middleTxtParagraphSecondPage {
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 300;
    text-align: right;
    color: #FFFFFF;
    width: fit-content;
    margin-right: 6%;
}

.middleBannerContainerSecondPage{
    display: block;
    height: 100%;
    width: 100%;
}

.middleBannerImgSecondPage {
    display: block;
    height: 100% ;
    width: 100%;
}

.middleBannerTxtSecondPage {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    width: 35%;
    margin-top: 5%;
    margin-left: 7%;
    line-height: 29.64px;
}

.middleBannerTitleSecondPage {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 300;
}


/* ========================= mobile =========================== */

@media(max-width:994px) {

}