/* ========================= principal termos =========================== */

.titulo {
    margin-top: 111px;
    width: 100%;
    height: 212px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.titulo h1 {
    width: auto;
    font-family: 'Russo One', sans-serif;
    color: #003061;
    font-size: 75pt;
}

.bloco-de-texto {
    width: 100%;
    background-color: #003061;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folha {
    margin: 20px 10px 20px 10px;
    width: 1309px;
    background-color: #F9F9F9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.folha p {
    font-family: "Oswald";
    font-size: 12pt;
}

/* ========================= mobile =========================== */

@media(max-width:994px) {

    .titulo h1 {
        font-size: 11vw;
    }
}